img {
  max-width: 100%;
}
.red {color: red;}

section + section {
  margin-top: 30px;
}
.align-center {
    text-align: center;
}
.front h1.page-header {display: none;}

.alert .fa,
.btn .fa {
  margin-right: 10px;
}
table {width: 100%;}
table.cols-3 tr td {
  width: 33.333%;
  vertical-align: top;
}
.nav > li > a.active {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.05);
}
.abs-options {
  position: absolute;
  right: 15px;
  top: 0px;
}
.margin-top-sm {margin-top: 15px;}
.margin-top-md {margin-top: 30px;}
.margin-top-lg {margin-top: 45px;}

.margin-bottom-sm {margin-bottom: 15px;}
.margin-bottom-md {margin-bottom: 30px;}
.margin-bottom-lg {margin-bottom: 45px;}

.menu.nav a.fa {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu.nav a.fa:before {
    margin-right: 10px;
    font-family: FontAwesome;
}
a > .fa {
  margin-right: 10px;
}
.menu.nav a.fa:before {
  width: 16px;
  display: inline-block;
}
.group-footer {
  padding-top: 15px;
}
.group-header {
  padding-bottom: 15px;
}
.field-name-succursale-map- .field-label {
  margin-bottom: 5px;
}
.field-name-succursale-map- .field-items {
  padding: 5px;
  border: #e3e3e3 solid 1px;
  border-radius: 4px;
}
.logo img {
  height: 34px;
}
.views-exposed-form {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: #eee solid 1px;
}
.views-table.cols-2 tr td {width: 50%;}
.views-table.cols-3 tr td {width: 33.333%;}
.views-table.cols-4 tr td {width: 25%;}

table tr.valign-middle td {
  vertical-align: middle
}
.fa + a {
  margin-left: 10px;
}

.table-responsive {overflow-x: visible !important;}

.field-name-user-address .view-display-id-block_3 .views-label, #edit-submitted-date, 
.view-id-enterprises.view-display-id-page_7 .view-content caption{font-weight:bold;}