.node-branches-centers.view-mode-full .group-left,
.node-branches-centers.node-teaser {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 15px;
}
.node-branches-centers.node-teaser h3 {
  margin-top: 0;
}
.view-my-branches table tr td {
  padding: 5px;
}
.node-branches-centers.view-mode-full .group-right {
  padding-left: 30px;
}