.view-my-branches .views-row {background: #f9f9f9 none repeat scroll 0 0;margin: 0 0 5px;padding: 10px;}

.view-my-branches .views-row:hover {background: #f5f5f5 none repeat scroll 0 0;}

.view-my-branches .views-row .views-field-nothing{display: inline-block; vertical-align: top; width: 49%;margin-right: 1%; }

.view-my-branches .views-row .views-field-field-rating-factor5{display: inline-block; vertical-align: top; width: 34%; }

.view-my-branches .views-row .views-field-nothing-1 { display: inline-block; vertical-align: top; width: 15%;}

.views-field-nothing-1 .views-label-nothing-1{ display: inline-block; font-weight: bold; margin-right: 15px;vertical-align: top;}

.view-my-branches .views-row .views-field-field-rating-factor5 .fact_1{ margin: 0 0 2px; display: block;}

.view-my-branches .views-row .views-field-field-rating-factor5 .fact_1 .views-label{display: inline-block; vertical-align: top; font-weight: bold; margin-right: 15px;}

.view-my-branches .views-row .views-field-field-rating-factor5 .fact_1 form.fivestar-widget{display: inline-block; vertical-align: top;}

.view-my-branches .views-row .views-field-field-rating-factor5 .fact_1 form.fivestar-widget .fivestar-widget{display: inline-block; vertical-align: top;}

.view-my-branches .views-row .views-field-field-rating-factor5 .fact_1 form.fivestar-widget .help-block{display: inline-block; vertical-align: top;  margin: 0 0 0 14px;}

.view-my-branches .views-row .views-field-nothing .field-content .details {display: table;width: 100%;}

.view-my-branches .views-row .views-field-nothing .field-content .details .fact_1 {display: table-cell;vertical-align: top; padding:0 15px 0 0;}

.view-my-branches .views-row .views-field-nothing .field-content .details .fact_1 .views-label {font-weight: bold;display: none;} 
   

.view-display-id-page_3 .views-row {display: table;width: 100%;}

.view-display-id-page_3 .views-row .views-field  {display: table-cell;vertical-align: top; padding:0 15px 0 0;}

.view-display-id-page_3 .views-row .views-field .views-label {font-weight: bold;display: none;}


.view-display-id-page_4 .views-row {display: table;width: 100%;}

.view-display-id-page_4 .views-row .views-field  {display: table-cell;vertical-align: top; padding:0 15px 0 0;}

.view-display-id-page_4 .views-row .views-field .views-label {font-weight: bold;display: none;}

.view-display-id-page_4 .views-row .views-field-title-1{width: 20%;} 

.view-display-id-page_4 .views-row .views-field-name{width: 20%;} 

.view-display-id-page_4 .views-row .views-field-field-student-refrence-1{width: 20%;} 

.view-display-id-page_4 .views-row .views-field-field-schedule{width: 40%;} 