.view-guide video,
.view-guide iframe {
  width: 100%;
}
.view-guide .views-row + .views-row {
  margin-top: 45px;
}
.views-exposed-widgets label {
  margin-right: 15px;
}
.views-exposed-widget + .views-exposed-widget {
  margin-left: 15px !important;
}
.views-exposed-widget.views-submit-button {
  margin-left: 0 !important;
}
.views-exposed-widgets input {
  max-width: 300px;
}
.views-widget,
.views-exposed-widget,
.views-submit-button {
  display: inline-block;
}
.views-submit-button {
  position: relative;
  top: -1px;
}
#edit-distance-wrapper .form-item,
.view-user-geo-localisation .views-exposed-widgets .views-exposed-widget {
  display: inline-block;
  margin: 0;
}
#edit-distance-search-units {
  width: 150px;
  display: inline-block;
  height: 34px;
  margin: 0 0 0 5px;
  position: relative;
  top: -1px;
}
#edit-distance-search-distance {
  display: inline-block;
  width: 100px;
}
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 0;
}
.view-enterprises .rating_factor {
  white-space: nowrap;
}
.view-enterprises .rating_factor .views-label {
  min-width: 100px;
  display: inline-block;
}
.view-enterprises .rating_factor .fivestar-average-stars,
.view-enterprises form.fivestar-widget {
  display: inline-block;
  position: relative;
  top: 1px;
}
.view-enterprises .rating_factor .fivestar-average-stars {
  height: 1em;
}